<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.expensemanager.app">

    <application
        android:name=".main.EApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".expense.ExpenseActivity"/>
        <activity android:name=".expense.NewExpenseActivity"/>
        <activity android:name=".category.CategoryActivity"/>
        <activity android:name=".expense.ExpenseDetailActivity"/>
        <activity
            android:name=".category.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".category.NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>